
@{
    ViewBag.Title = "Index";
}

<h2>Error</h2>


<table>
    <tr>
        <td align="center">
            <img src="~/images/error.png" />
        </td>
    </tr>
    <tr>
        <td align="center">
            <img src="~/images/error2.png" />
        </td>
    </tr>
   
</table>
