@{
    ViewBag.Title = "About";
}
<p></p>
<p>Dear Sir / Madam</p>

<p> I am a South African looking to immigrate to New Zealand. I am married and have 1 child. I enjoy meeting new people, seeing new cultures and realities. I believe New Zealand is a diverse country which would give me the opportunities to enjoy new experiences and improve my skills.</p>

<p>Thanks and Regards</p>
<p>Zaheer Emam Saib</p>
