@section Scripts {
    <script type="text/javascript" src="~/Scripts/libs/runtime.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/polyfills.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/styles.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/vendor.js"></script>
    <script type="text/javascript" src="~/Scripts/libs/main.js"></script>
}

@{
    ViewBag.Title = "Contact Zaheer";
}
<h2>Zaheer Emam Saib</h2>
<h3>My Contact Details</h3>

<address>
    312 Canehaven Drive<br />
    Foresthaven, Phoenix<br />
    Durban, KZN<br /> 
    South Africa, 4028 <br />
    <abbr title="Phone">P:</abbr>
    +27 83 776 2236
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:zaheeremamsaib@gmail.com">zaheeremamsaib@gmail.com</a><br />
</address>