@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>XML Processor</h3>
    <p class="lead">This application accepts xml data (as a file of through sopy paste) and processes and displays the data</p>
    <p></p>
</div>

